.select_all {
  margin-top: 40px;
  display: flex;
  align-items: center;
  width: 100%;
}
.select_box {
  margin-right: 20px;
}
.selected {
  display: flex;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.select_box .selected .selected_val {
  max-width: 900px;
  background-color: #ffffff;
  width: 137px;
  height: 45px;
  padding: 14px 15px;
  border: 1px solid #9a9a9a;
  border-radius: 3px;
}
.select_box .selected .arrow {
  margin-top: 13px;
  width: 10px;
  height: 10px;
  margin-right: 30px;
  margin-left: -30px;
}

.select_box ul {
  list-style-type: none;
  width: 137px;
  border: 1px solid #9a9a9a;
  position: absolute;
  border-radius: 3px;
  background-color: #ffffff;
  border-top: none;
  margin: 1px 0 0 -1px;
  cursor: pointer;
  display: none;
}

.select_box ul li {
  padding: 14px 14px;
}

.select_box li:hover {
  border-top: 0.5px solid var(--section);
  border-bottom: 0.5px solid var(--section);
}

.select_box.active ul {
  display: initial;
}
.search {
  position: relative;
  width: 300px;
  margin-right: 385px;
}

.search input {
  box-sizing: border-box;
  position: relative;
  width: 283px;
  height: 45px;

  background: #ffffff;
  border: 1px solid #9a9a9a;
  border-radius: 3px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.search i {
  position: absolute;
  left: 15px;
  top: 23px;
  color: var(--main);
}

.plus_category {
  position: relative;
  color: var(--main);
  margin-top: 10px;
  margin-left: -20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

button span:nth-of-type(1) {
  font-weight: 100;
  font-size: 25px;
}
.plus_menu {
  display: block;
  margin-top: 28px;
  color: var(--main);
  margin-bottom: 45px;
}

.select_header {
  width: 952px;
  height: 65px;
  background: #ffffff;
  /* 항목별 구분선 컬러 */

  border-width: 2px 0px;
  border-style: solid;
  border-color: #e5e5e7;
  border-radius: 0px;
  margin-top: 15px;
  padding: 8px 30px;
}

.bread_cate {
  width: 953px;
  height: 75px;
  background-color: #ffffff;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  color: var(--text);
  margin-top: -20px;
  padding: 21px 53px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.info_header span:first-child {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 550;
  font-size: 20px;
  line-height: 27px;
  margin-right: 170px;
  color: var(--text);
}

.menu_info {
  margin-top: 37px;
  margin-left: 60px;
  width: 839px;
  height: auto;
  background-color: #ffffff;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 40px;
}

.info_header {
  position: relative;
  border-bottom: 2px solid var(--section);
  height: 71px;
  width: 839px;
  padding: 22px 35px;
  text-align: end;
  color: var(--point);
}

.info_plus {
  display: flex;
  height: auto;
  justify-content: space-around;
  padding: 30px 35px;
  align-items: center;
  border-bottom: 1px solid var(--section);
}

.essential_info {
  color: var(--point);
}

.info_title {
  width: 100px;
}

.info_plus input {
  width: 592px;
  height: 55px;
  padding: 0px 15px;
  /* 입력박스 내부 컬러 */
  background: #fdfdfd;
  /* 입력 박스 테두리 컬러 */
  border: 1px solid #c0c0c0;
  border-radius: 3px;
}

#file {
  color: var(--main);
}

.filebox .upload-name {
  padding: 0 10px;
  vertical-align: middle;
  border: 1px solid #c0c0c0;
  border-radius: 3px;
  width: 441px;
}

.upload-name {
  width: 441px;
}

.filebox label {
  width: 123px;
  padding: 15px 16px;
  vertical-align: middle;
  height: 55px;
  margin-left: 10px;
  background: #ffffff;
  /* 기본 텍스트 컬러 */
  color: var(--text);
  border: 1px solid #282828;
  border-radius: 3px;
}

.menu_sell {
  width: 135px;
  height: 50px;
  /* 기본 컬러 */
  background: var(--main);
  /* 기본 컬러 */
  border: 1px solid var(--main);
  border-radius: 53px;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
}

.sell_btns {
  display: flex;
  justify-content: space-around;
  width: 592px;
  height: 55px;
}

textarea {
  width: 592px;
  height: 90px;
  text-align: start;
  /* 입력박스 내부 컬러 */
  background: #fdfdfd;
  /* 입력 박스 테두리 컬러 */
  padding: 13px 15px;
  border: 1px solid #c0c0c0;
  border-radius: 3px;
}

.info_ingre {
  display: flex;
  height: 302px;
  padding: 30px 0px;
}

table th {
  width: 578px;
  height: 45px;
  padding: 12px 0px;
  /* 입력박스 내부 컬러 */
  background: #fdfdfd;
  /* 입력 박스 테두리 컬러 */
  border: 1px solid #c0c0c0;
  border-radius: 3px;

  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;

  /* 기본 텍스트 컬러 */

  color: var(--text);
}

.save_btn {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;

  position: relative;
}

.save_btn button {
  color: var(--main);
  width: 200px;
  height: 55px;

  background: #ffffff;
  /* 기본 컬러 */

  border: 1px solid var(--main);
  border-radius: 3px;
  margin-left: 20px;

  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
}

.save_btn button:nth-child(2) {
  /* 기본 컬러 */
  background: var(--main);
  /* 기본 컬러 */
  border: 1px solid var(--main);
  border-radius: 3px;
  color: #ffffff;
}

#ingre_info {
  height: auto;
  border-bottom: none;
}

#ingre_plus {
  width: 578px;
}

.plus_ingre {
  width: 460px;
  display: block;
  margin-top: -20px;
  color: var(--main);
}

a span:nth-of-type(1) {
  font-weight: 100;
  font-size: 25px;
}

/* 주문 리스트 */

.menu_list {
  justify-content: space-between;
  align-items: center;
  padding: 8px 50px;
  display: flex;
  width: 952px;
  height: 80px;
  background-color: #ffffff;
  border-bottom: 1px solid var(--section);
}

.menu_pic img {
  width: 75px;
  height: 65px;
  background-color: #9a9a9a;
}

.menu_name span {
  display: block;
  width: 440px;
  margin-bottom: 5px;
  text-decoration: underline;
}

.menu_delete_btn {
  text-decoration: underline;
}

.mainColor {
  background-color: var(--section);
  border: none;
}
