header {
  box-sizing: border-box;
  /* width: 1440px; */
  width: 100%;
  height: 78px;
  left: 0px;
  top: 0px;
  background-color: #ffffff;
  /* 상단바 구분 컬러 */

  border-bottom: 2px solid var(--header);
}

.warp {
  display: flex;
  background-color: var(--background);
}

/*예약 관리 가게정보 관리 ... 메뉴*/
.reserve_menu {
  width: 170px;
  height: 260px;
  position: absolute;
  left: 122px;
  top: 108px;
  background: #ffffff;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.reserve_menu span {
  margin-left: 43px;
  display: block;
  width: 170px;
  height: 60px;
  padding: 10px 0px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: rgba(51, 51, 51, 0.5);
}

.reserve_menu span:last-child {
  margin-bottom: 10px;
}

.reserve {
  width: 100%;
  height: 100vh;
  margin-left: 365px;
  margin-top: 49px;
}

.reserve i {
  position: absolute;
  left: 920px;
  top: 127px;
  color: #c0c0c0;
}

/*예약 버튼*/
.reserve_btn {
  box-sizing: border-box;
  width: 140px;
  height: 55px;
  margin-right: 60px;

  background: #9a9a9a;
  border: 1px solid #9a9a9a;
  border-radius: 53px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  /* identical to box height */
  color: #ffffff;
}

.reserve_box {
  display: flex;
  width: 953px;
  height: 93px;
  justify-content: space-around;
  align-items: center;

  background-color: #fdcd89;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  width: 953px;
  height: 93px;
  margin-top: 43px;
}

/*접수 대기 접수 완료 ...*/
.reserve_column {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 550;
  font-size: 14px;
  line-height: 19px;
  font-stretch: 100;
  font-variation-settings: "CTGR" 100;
}

/*접수 대기 접수 완료 ... 개수*/
.reserve_column span:nth-child(2) {
  font-size: 24px;
  line-height: 33px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  font-stretch: 100;
  font-variation-settings: "CTGR" 100;
}

/*예약 시간 가격 픽업 시간 메뉴*/
.list_header {
  display: flex;
  width: 953px;
  height: 65px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  margin-top: 37px;
  background: #ffffff;
  border-width: 2px 0px;
  border-style: solid;
  border-color: var(--section);
}

.list_column {
  color: #333333;
  font-stretch: 100;
  font-variation-settings: "CTGR" 100;
  font-weight: 550;
  font-size: 16px;
  line-height: 22px;
}

.list_column-menu {
  /* 메뉴 */
  width: 250px;
}

/*예약자 명 상세 메뉴*/
.list_column span:nth-child(2) {
  display: flex;
  align-items: center;
}

.reserve_list {
  padding: 15px 0px;
  width: 953px;
  background-color: #ffffff;

  font-weight: 550;
  font-size: 16px;
  line-height: 22px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgba(51, 51, 51, 0.5);
  font-stretch: 100;
  font-variation-settings: "CTGR" 100;
}

.list_cost {
  color: var(--point);
}

.size14 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.size16 {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.weight550 {
  font-weight: 550;
}

/*팝업 창*/
.modal_wrap {
  display: none;
  width: 500px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -250px;
  background: #eee;
  z-index: 2;
}

.black_bg {
  display: none;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  z-index: 1;
}

.modal_close {
  width: 250px;
  height: 30px;
}

.modal_close > a {
  display: block;
  width: 100%;
  height: 100%;
}
