/* 메인화면css */

*{
    /* font-family: 'Roboto', sans-serif; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}


a, a:active {
    text-decoration: none;
    color: inherit;
}

/* 헤더 */
.own-header {
    height: 75px;
    /* border-bottom: 1px solid #000000; */
}

.own-header>div {
    position: relative;
    min-width: 960px;
    margin: 0 auto;
    padding: 26px 20px 25px 20px;
}

.own-main {
    width: 880px;
    margin: 80px auto 0 auto;
}

ul.nav.clearfix {
    height: 200px;
}

.own-container {
    margin-bottom: 200px;
}

/* 네모칸들-- 예약관리, 가게 정보 관리, 메뉴관리, 리뷰관리 */
.own-main .nav>li.n1 {
    width: 159.08px;
    height: 129.67px;
    background: #FFFFFF;
    border: 1px solid #646464;
    color: 
    #282828;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    text-decoration: none;
    padding-top: 91.44px;
    box-sizing: border-box;
    position: relative;
    top: 60px;
}

.reserve-img {
    position: absolute;
    bottom: 50px;
    padding-left: 10px;
}

.own-main .nav>li.n2 {
    width: 159.08px;
    height: 129.67px;
    background: #FFFFFF;
    border: 1px solid 
    #646464;
    color: 
    #282828;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    text-decoration: none;
    padding-top: 91.44px;
    box-sizing: border-box;
    position: relative;
    bottom: 70px;
    left: 240px;
}

.storeinfo-img{
    position: absolute;
    bottom: 50px;
    padding-left: 20px;
}
.own-main .nav>li.n3 {
    width: 159.08px;
    height: 129.67px;
    background: #FFFFFF;
    border: 1px solid 
    #646464;
    color: 
    #282828;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    text-decoration: none;
    padding-top: 91.44px;
    box-sizing: border-box;
    position: relative;
    bottom: 200px;
    left: 470px;
}

.own-main .nav>li.n4 {
    display: inline-block;
    width: 159.08px;
    height: 129.67px;
    margin-left: 69px;
    background: #FFFFFF;
    border: 1px solid 
    #646464;
    color: 
    #282828;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    text-decoration: none;
    padding-top: 91.44px;
    box-sizing: border-box;
    position: relative;
    bottom: 330px;
    left: 630px;
}

.review-img {
    position: absolute;
    bottom: 50px;
    padding-left: 10px;
}

/* 배너 */

.own-main .own-mid {
    display: inline-block;
    width: 438px;
    height: 294px;
    margin-top: 38px;
    background-color: #7588EA;
    border: 1px solid #6B6C9C;
    box-sizing: border-box;
    padding-left: 42.49px;
    padding-top: 22.87px;
}

.mid-text>p {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
}

.min-text>p:first-child {
    padding-top: 33px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.min-text>p {
    padding-top: 5.5px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}
/* 로그인창 */

.own-login {
    position: relative;
    float: right;
    width: 400px;
    color: #646464;
    font-size: 12px;
    margin-top: 39px;
    margin-left: 36.79px;
}

.own-login .text-login {
    display: inline-block;
    font-size: 18px;
    color: 
    #000000;
    text-decoration: none;
    margin-top: 5px;
}

.own-login .border-login {
    display: inline-block;
    height: 2px;
    margin-left: 8.9px;
    color: #000000;
    border-width: 2px;
    padding-top: 20px;
}

.own-login .id-box {
    margin-top: 24.61px;
    border: 1px solid #000000;
    width: 252.54px;
    height: 46.84px;
    border-radius: 10px;
    padding-left: 10px;
}

.own-login .password-box {
    display: block;
    margin-top: 9.8px;
    border: 1px solid #000000;
    width: 252.54px;
    height: 46.84px;
    border-radius: 10px;
    padding-left: 10px;
}

.own-login .login-btn {
    width: 113.21px;
    height: 103.3px;
    background-color: 
    #FF9900;
    border: 1px solid 
    #FF9900;
    border-radius: 10px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    top: 50px;
    left: 270px
}

.own-login .login-find-btn {
    display: block;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: right;
    color: #000000;
    margin-top: 14px;
    margin-left: 250px;
}

.own-login .border2-login {
    display: inline-block;
    height: 2px;
    color: #000000;
    border-width: 2px;
    padding-top: 20px;

}

/* 회원가입 */
.own-login .own-signup .signup-btn {
    display: block;
    width: 369px;
    height: 55.98px;
    margin-top: 29.23px;
    margin-left: 10px;
    font-size: 16px;
    text-align: center;
    color:#FF9900;
    font: bold;
    background-color: #FFFFFF;
    border: 1px solid #FF9900;
    border-radius: 10px;
}

.own-login .own-signup .signup-btn:active {
    background-color: #FF9900;
    color: #FFFFFF;
}

.own-bottom {
    width: 100%;
    height: 170px;
    background: #EEEEEE;
}

.bottom-menu {
    display: flex;
    justify-content: center;
}

.bottom-menu>span{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    padding-left: 42px;
    padding-top: 36px;
}

.bottom-menu>span:nth-child(4) {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
}

.bottom-text {
    display: flex;
    justify-content: center;
}

.bottom-text>span {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #949494;
    padding-left: 14px;
    padding-top: 28px;
}

.bottom-text2>p {
    display: flex;
    justify-content: center;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #949494;
    padding-top: 11px;
}