/* 회원가입 css */
* {
  /* font-family: 'Roboto', sans-serif; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

a,
a:active {
  text-decoration: none;
  color: inherit;
}

/* 헤더 */
.own-header {
  height: 75px;
  /* border-bottom: 1px solid #DDDDDD; */
}

.own-header > div {
  position: relative;
  min-width: 960px;
  margin: 0 auto;
  padding: 26px 20px 25px 20px;
}

.form {
  margin-top: 40px;
}

/* 센터정렬 */
.center-form {
  position: relative;
  display: flex;
  justify-content: center;
  width: 500px;
  margin: 0px auto auto 40px;
  left: auto;
  right: auto;
  bottom: 0;
  overflow: auto;
  /*     background-color: blueviolet; */
  height: auto;
  /* align-content: center; */
}

/* 센터 top part */
.center-form .center-top {
  position: absolute;
  width: 500px;
  height: 140px;
  /*     background-color: blue; */
}

.center-top > li.top-info {
  display: block;
  width: 75px;
  height: 27px;
  margin-left: 160px;
  border: 1px solid #FF9900;
  background-color: #FF9900;
  border-radius: 53px;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  padding-top: 7px;
}

.center-top > li.top-tra {
  display: block;
  color: #333333;
  font-size: 24px;
  text-align: center;
  padding-top: 20px;
  font-weight: 100;
}

.top-tt {
  font-weight: 400;
}

.hide {
  display: none; 
}

/* 센터 middle part */
.center-form .center-middle {
    display: block;
    width: 500px;
    height: 410px;
    margin-top: 160px;
    text-align: left;
}

.center-middle .aa1 {
    display: inline-block;
    height: 55px;
    width: 100%;
}
.center-middle .aa1>fieldset>label {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    color: #333333;
}

.center-middle .aa1 .aa1-box {
    border: 1px solid #C0C0C0;
    width: 340px;
    height: 50px;
    float: right;
    margin-bottom: 17px;
    background: #FDFDFD;
    border-radius: 3px;
    box-sizing: border-box;
    padding-left: 10px;
}

.center-middle .aa2 {
    display: inline-block;
    height: 55px;
    width: 100%;
    margin-top: 17px;
}

.center-middle .aa2>fieldset>label {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  padding-top: 10px;
}

.center-middle .aa2 .aa2-box {
    border: 1px solid #C0C0C0;
    width: 340px;
    height: 50px;
    float: right;
    margin-bottom: 17px;
    background: #FDFDFD;
    border-radius: 3px;
    box-sizing: border-box;
    padding-left: 10px;
}

.center-middle .aa3 {
    display: inline-block;
    height: 55px;
    width: 100%;
    margin-top: 17px;
}

.center-middle .aa3>fieldset>label {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  padding-top: 10px;
}

.center-middle .aa3 .aa3-box {
    border: 1px solid #C0C0C0;
    width: 340px;
    height: 50px;
    float: right;
    margin-bottom: 17px;
    background: #FDFDFD;
    border-radius: 3px;
    box-sizing: border-box;
    padding-left: 10px;
}

.center-middle .aa4 {
    display: inline-block;
    height: 55px;
    width: 100%;
    margin-top: 17px;
}

.center-middle .aa4>fieldset>label {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  padding-top: 10px;
}

.center-middle .aa4 .aa4-box {
    border: 1px solid #C0C0C0;
    width: 340px;
    height: 50px;
    float: right;
    margin-bottom: 17px;
    background: #FDFDFD;
    border-radius: 3px;
    box-sizing: border-box;
    padding-left: 10px;
}

.center-middle .aa5 {
    display: inline-block;
    height: 55px;
    width: 100%;
    margin-top: 17px;
}

.center-middle .aa5>fieldset>label {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  padding-top: 10px;
}
.center-middle .aa5 .aa5-box {
    border: 1px solid #C0C0C0;
    width: 340px;
    height: 50px;
    float: right;
    margin-bottom: 17px;
    background: #FDFDFD;
    border-radius: 3px;
    box-sizing: border-box;
    padding-left: 10px;
}

.center-middle .aa6 {
    display: inline-block;
    height: 55px;
    width: 100%;
    margin-top: 17px;
}

.center-middle .aa6>fieldset>label {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  padding-top: 10px;
}

.center-middle .aa6 .aa6-box {
    border: 1px solid #C0C0C0;
    width: 340px;
    height: 50px;
    float: right;
    margin-bottom: 17px;
    background: #FDFDFD;
    border-radius: 3px;
    box-sizing: border-box;
    padding-left: 10px;
}

/* 다음버튼 */

.center-middle .next>button#btn_next{
    width: 500px;
    height: 55px;
    border-radius: 3px;
    background-color:#FF9900;
    border: 1px solid #FF9900;
    text-align: center;
    font-size: 20px;
    color: #FFFFFF;
    margin-top: 46px;
}

/* .center-middle .next>input#btn_next:disabled {
  width: 500px;
  height: 55px;
  border-radius: 3px;
  background-color:pink;
  border: 1px solid #FF9900;
  text-align: center;
  font-size: 20px;
  color: #FFFFFF;
  margin-top: 46px;
} */

.center-middle .next>button#btn_next:active{
    background-color: #FFFFFF;
    color: #F4AA41;
  position: absolute;
  display: block;
  width: 500px;
  height: 55px;
}

/* 이미지 */
.img1 {
  width: 23px;
  margin-left: 180px;
  margin-top: 10px;
}

.imgLine {
width: 126px;
height: 0px;
border-bottom: 2px solid #E9E9E9;
position:relative;
left: 25px;
bottom: 10px;
}

.img2 {
  position: relative;
  width: 23px;
  bottom: 20px;
  left: 310px;
}