:root {
  --text: #282828;
  --headermain: #ffa605;
  --main: #ff9900;
  --point: #fa6660;
  --border: #c0c0c0;
  --inside: #fdfdfd;
  --background: #f9f9f9;
  --section: #e5e5e7;
  --header: #dddddd;
}
