<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>니빵내빵</title>
  <link rel="stylesheet" href="./style2.css">
</head>

<body>

  <!-- 카테고리 정렬 -->
  <div class="list-option">
    <div class="list-option-inner">
      <select class="form-control ng-pristine ng-untouched ng-valid" ng-change="update_order()"
        ng-model="session_storage.restaurant_list_sort_order" ng-click="select_order_for_ga()">
        <option value="rank" ng-selected="! session_storage.restaurant_list_sort_order">기본 정렬순</option>
        <option value="review_avg" ng-selected="session_storage.restaurant_list_sort_order == &quot;review_avg&quot;">
          별점순</option>
        <option value="review_count"
          ng-selected="session_storage.restaurant_list_sort_order == &quot;review_count&quot;">리뷰 많은순</option>
        <option value="min_order_value"
          ng-selected="session_storage.restaurant_list_sort_order == &quot;min_order_value&quot;">최소 주문 금액순</option>
        <option value="distance" ng-selected="session_storage.restaurant_list_sort_order == &quot;distance&quot;"
          ng-show="session_storage.location &amp;&amp; session_storage.location.point">거리순</option>
        <option value="estimated_delivery_time"
          ng-selected="session_storage.restaurant_list_sort_order == &quot;estimated_delivery_time&quot;">배달 시간순
        </option>
      </select>
      <i class="arr-down"></i>
    </div>
  </div>

  <div ng-if="key === 'superlist'" class="ranking-guide ng-scope">
    <p>니빵내빵 등록 가게<button type="button" class="btn-tooltip ad" data-toggle="tooltip" data-html="true" id="adtooltip"
        data-placement="bottom" title=""
        data-original-title="니빵내빵과 계약된 우리동네 플러스 음식점 광고 영역입니다.<br>음식점 이름은 사업자등록증 상호와 다를 수 있습니다.">&nbsp;</button></p>
  </div>

  <!-- 입점가게들 -->
  <div class="restaurant-list">
    <div class="col-sm-6 " ng-repeat="restaurant in list">
      <div class="item clearfix" ng-click="select_restaurant(restaurant, $index)" style="cursor: pointer;">
        <table>
          <tbody>
            <tr>
              <td>
                <div ng-show="restaurant|restaurant_is_available" class="logo"
                  ng-style="{'background-image':'url(' + get_logo_url(restaurant.logo_url) + '), url(\'image/default_restaurant_logo.png\')'}"
                  style="background-image: url(&quot;https://rev-static.yogiyo.co.kr/restaurant_logos/20220107173343238265_업체자체_20220107_578574_반달커피-향남점_대표사진_300x300.jpg&quot;), url(&quot;image/default_restaurant_logo.png&quot;);">
                </div>

              </td>
              <td>
                <div class="restaurants-info">
                  <div class="restaurant-name ng-binding" ng-bind="restaurant.name" title="반달커피-향남점">반달커피</div>
                  <div class="stars">
                    <span>
                      <span class="ico-star1 ng-binding" ng-show="restaurant.review_avg > 0">★ 5.0</span>
                    </span>
                    <span class="review_num ng-binding" ng-show="restaurant.review_count > 0">
                      리뷰 199
                    </span>
                    <span class="review_num ng-binding" ng-show="restaurant.owner_reply_count > 0">
                      사장님댓글 15
                    </span>
                    <span ng-show="restaurant.review_count < 1" class="ng-hide">
                      첫번째 리뷰를 남겨주세요!
                    </span>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


    <div class="col-sm-6 " ng-repeat="restaurant in list">
      <div class="item clearfix" ng-click="select_restaurant(restaurant, $index)" style="cursor: pointer;">
        <table>
          <tbody>
            <tr>
              <td>
                <div ng-show="restaurant|restaurant_is_available" class="logo"
                  ng-style="{'background-image':'url(' + get_logo_url(restaurant.logo_url) + '), url(\'image/default_restaurant_logo.png\')'}"
                  style="background-image: url(&quot;https://rev-static.yogiyo.co.kr/restaurant_logos/업체자체_20200813_481695_가유카페-향남점_대표사진_300x300.jpg&quot;), url(&quot;image/default_restaurant_logo.png&quot;);">
                </div>
              </td>
              <td>
                <div class="restaurants-info">
                  <div class="restaurant-name ng-binding" ng-bind="restaurant.name" title="가유카페-향남점">가유카페</div>
                  <div class="stars">
                    <span>
                      <span class="ico-star1 ng-binding" ng-show="restaurant.review_avg > 0">★ 4.8</span>
                    </span>
                    <span class="review_num ng-binding" ng-show="restaurant.review_count > 0">
                      리뷰 88
                    </span>
                    <span class="review_num ng-binding ng-hide" ng-show="restaurant.owner_reply_count > 0">
                      사장님댓글 0
                    </span>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-6 " ng-repeat="restaurant in list">
      <div class="item clearfix" ng-click="select_restaurant(restaurant, $index)" style="cursor: pointer;">
        <table>
          <tbody>
            <tr>
              <td>
                <div ng-show="restaurant|restaurant_is_available" class="logo"
                  ng-style="{'background-image':'url(' + get_logo_url(restaurant.logo_url) + '), url(\'image/default_restaurant_logo.png\')'}"
                  style="background-image: url(&quot;https://rev-static.yogiyo.co.kr/franchise_logos/셀렉토커피_20210908_Franchise_crop_200x200.jpg&quot;), url(&quot;image/default_restaurant_logo.png&quot;);">
                </div>

              </td>
              <td>
                <div class="restaurants-info">
                  <div class="restaurant-name ng-binding" ng-bind="restaurant.name" title="셀렉토커피-화성향남2지구">셀렉토빵집</div>
                  <div class="stars">
                    <span>
                      <span class="ico-star1 ng-binding" ng-show="restaurant.review_avg > 0">★ 4.9</span>
                    </span>
                    <span class="review_num ng-binding" ng-show="restaurant.review_count > 0">
                      리뷰 395
                    </span>
                    <span class="review_num ng-binding" ng-show="restaurant.owner_reply_count > 0">
                      사장님댓글 359
                    </span>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-sm-6 " ng-repeat="restaurant in list">
      <div class="item clearfix" ng-click="select_restaurant(restaurant, $index)" style="cursor: pointer;">
        <table>
          <tbody>
            <tr>
              <td>
                <div ng-show="restaurant|restaurant_is_available" class="logo"
                  ng-style="{'background-image':'url(' + get_logo_url(restaurant.logo_url) + '), url(\'image/default_restaurant_logo.png\')'}"
                  style="background-image: url(&quot;https://rev-static.yogiyo.co.kr/franchise_logos/셀렉토커피_20210908_Franchise_crop_200x200.jpg&quot;), url(&quot;image/default_restaurant_logo.png&quot;);">
                </div>

              </td>
              <td>
                <div class="restaurants-info">
                  <div class="restaurant-name ng-binding" ng-bind="restaurant.name" title="셀렉토커피-화성향남2지구">셀렉토빵집</div>
                  <div class="stars">
                    <span>
                      <span class="ico-star1 ng-binding" ng-show="restaurant.review_avg > 0">★ 4.9</span>
                    </span>
                    <span class="review_num ng-binding" ng-show="restaurant.review_count > 0">
                      리뷰 395
                    </span>
                    <span class="review_num ng-binding" ng-show="restaurant.owner_reply_count > 0">
                      사장님댓글 359
                    </span>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-sm-6 " ng-repeat="restaurant in list">
      <div class="item clearfix" ng-click="select_restaurant(restaurant, $index)" style="cursor: pointer;">
        <table>
          <tbody>
            <tr>
              <td>
                <div ng-show="restaurant|restaurant_is_available" class="logo"
                  ng-style="{'background-image':'url(' + get_logo_url(restaurant.logo_url) + '), url(\'image/default_restaurant_logo.png\')'}"
                  style="background-image: url(&quot;https://rev-static.yogiyo.co.kr/franchise_logos/셀렉토커피_20210908_Franchise_crop_200x200.jpg&quot;), url(&quot;image/default_restaurant_logo.png&quot;);">
                </div>

              </td>
              <td>
                <div class="restaurants-info">
                  <div class="restaurant-name ng-binding" ng-bind="restaurant.name" title="셀렉토커피-화성향남2지구">셀렉토빵집</div>
                  <div class="stars">
                    <span>
                      <span class="ico-star1 ng-binding" ng-show="restaurant.review_avg > 0">★ 4.9</span>
                    </span>
                    <span class="review_num ng-binding" ng-show="restaurant.review_count > 0">
                      리뷰 395
                    </span>
                    <span class="review_num ng-binding" ng-show="restaurant.owner_reply_count > 0">
                      사장님댓글 359
                    </span>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-sm-6 " ng-repeat="restaurant in list">
      <div class="item clearfix" ng-click="select_restaurant(restaurant, $index)" style="cursor: pointer;">
        <table>
          <tbody>
            <tr>
              <td>
                <div ng-show="restaurant|restaurant_is_available" class="logo"
                  ng-style="{'background-image':'url(' + get_logo_url(restaurant.logo_url) + '), url(\'image/default_restaurant_logo.png\')'}"
                  style="background-image: url(&quot;https://rev-static.yogiyo.co.kr/franchise_logos/셀렉토커피_20210908_Franchise_crop_200x200.jpg&quot;), url(&quot;image/default_restaurant_logo.png&quot;);">
                </div>

              </td>
              <td>
                <div class="restaurants-info">
                  <div class="restaurant-name ng-binding" ng-bind="restaurant.name" title="셀렉토커피-화성향남2지구">셀렉토빵집</div>
                  <div class="stars">
                    <span>
                      <span class="ico-star1 ng-binding" ng-show="restaurant.review_avg > 0">★ 4.9</span>
                    </span>
                    <span class="review_num ng-binding" ng-show="restaurant.review_count > 0">
                      리뷰 395
                    </span>
                    <span class="review_num ng-binding" ng-show="restaurant.owner_reply_count > 0">
                      사장님댓글 359
                    </span>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


    <!-- 추천가게들 -->

    <div ng-repeat="(key, list) in section_list" class="ng-scope">
      <div ng-show="list.length > 0" class="">
        <!-- ngIf: key === 'superlist' -->
        <!-- ngIf: key === 'hotdeal' -->
        <div ng-if="key === 'hotdeal'" class="ranking-guide ng-scope">
          <p>니빵내빵 추천 빵집!</p>
        </div><!-- end ngIf: key === 'hotdeal' -->
        <!-- ngIf: key === 'contract' -->
        <div class="restaurant-list">
          <!-- ngRepeat: restaurant in list -->
          <div class="col-sm-6 " ng-repeat="restaurant in list">
            <div class="item clearfix" ng-click="select_restaurant(restaurant, $index)" style="cursor: pointer;">
              <table>
                <tbody>
                  <tr>
                    <td>
                      <div ng-show="restaurant|restaurant_is_available" class="logo"
                        ng-style="{'background-image':'url(' + get_logo_url(restaurant.logo_url) + '), url(\'image/default_restaurant_logo.png\')'}"
                        style="background-image: url(&quot;https://rev-static.yogiyo.co.kr/franchise_logos/파리바게뜨_20180712_Franchise이미지약정서_crop_200x200_s6Zm07l.jpg&quot;), url(&quot;image/default_restaurant_logo.png&quot;);">
                      </div>
                    </td>
                    <td>
                      <div class="restaurants-info">
                        <div class="restaurant-name ng-binding" ng-bind="restaurant.name" title="파리바게뜨-향남상신점">파리바게뜨
                        </div>
                        <div class="stars">
                          <span>
                            <span class="ico-star1 ng-binding" ng-show="restaurant.review_avg > 0">★ 4.9</span>
                          </span>
                          <span class="review_num ng-binding" ng-show="restaurant.review_count > 0">
                            리뷰 634
                          </span>
                          <span class="review_num ng-binding" ng-show="restaurant.owner_reply_count > 0">
                            사장님댓글 539
                          </span>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>


          <div class="col-sm-6 " ng-repeat="restaurant in list">
            <div class="item clearfix" ng-click="select_restaurant(restaurant, $index)" style="cursor: pointer;">
              <table>
                <tbody>
                  <tr>
                    <td>
                      <div ng-show="restaurant|restaurant_is_available" class="logo"
                        ng-style="{'background-image':'url(' + get_logo_url(restaurant.logo_url) + '), url(\'image/default_restaurant_logo.png\')'}"
                        style="background-image: url(&quot;https://rev-static.yogiyo.co.kr/franchise_logos/파리바게뜨_20180712_Franchise이미지약정서_crop_200x200_s6Zm07l.jpg&quot;), url(&quot;image/default_restaurant_logo.png&quot;);">
                      </div>
                    </td>
                    <td>
                      <div class="restaurants-info">
                        <div class="restaurant-name ng-binding" ng-bind="restaurant.name" title="파리바게뜨-향남상신점">파리바게뜨
                        </div>
                        <div class="stars">
                          <span>
                            <span class="ico-star1 ng-binding" ng-show="restaurant.review_avg > 0">★ 4.9</span>
                          </span>
                          <span class="review_num ng-binding" ng-show="restaurant.review_count > 0">
                            리뷰 634
                          </span>
                          <span class="review_num ng-binding" ng-show="restaurant.owner_reply_count > 0">
                            사장님댓글 539
                          </span>

                        </div>

                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="col-sm-6 " ng-repeat="restaurant in list">
            <div class="item clearfix" ng-click="select_restaurant(restaurant, $index)" style="cursor: pointer;">
              <table>
                <tbody>
                  <tr>
                    <td>
                      <div ng-show="restaurant|restaurant_is_available" class="logo"
                        ng-style="{'background-image':'url(' + get_logo_url(restaurant.logo_url) + '), url(\'image/default_restaurant_logo.png\')'}"
                        style="background-image: url(&quot;https://rev-static.yogiyo.co.kr/franchise_logos/파리바게뜨_20180712_Franchise이미지약정서_crop_200x200_s6Zm07l.jpg&quot;), url(&quot;image/default_restaurant_logo.png&quot;);">
                      </div>
                    </td>
                    <td>
                      <div class="restaurants-info">
                        <div class="restaurant-name ng-binding" ng-bind="restaurant.name" title="파리바게뜨-향남상신점">파리바게뜨
                        </div>
                        <div class="stars">
                          <span>
                            <span class="ico-star1 ng-binding" ng-show="restaurant.review_avg > 0">★ 4.9</span>
                          </span>
                          <span class="review_num ng-binding" ng-show="restaurant.review_count > 0">
                            리뷰 634
                          </span>
                          <span class="review_num ng-binding" ng-show="restaurant.owner_reply_count > 0">
                            사장님댓글 539
                          </span>

                        </div>

                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="col-sm-6 " ng-repeat="restaurant in list">
            <div class="item clearfix" ng-click="select_restaurant(restaurant, $index)" style="cursor: pointer;">
              <table>
                <tbody>
                  <tr>
                    <td>
                      <div ng-show="restaurant|restaurant_is_available" class="logo"
                        ng-style="{'background-image':'url(' + get_logo_url(restaurant.logo_url) + '), url(\'image/default_restaurant_logo.png\')'}"
                        style="background-image: url(&quot;https://rev-static.yogiyo.co.kr/franchise_logos/파리바게뜨_20180712_Franchise이미지약정서_crop_200x200_s6Zm07l.jpg&quot;), url(&quot;image/default_restaurant_logo.png&quot;);">
                      </div>
                    </td>
                    <td>
                      <div class="restaurants-info">
                        <div class="restaurant-name ng-binding" ng-bind="restaurant.name" title="파리바게뜨-향남상신점">파리바게뜨
                        </div>
                        <div class="stars">
                          <span>
                            <span class="ico-star1 ng-binding" ng-show="restaurant.review_avg > 0">★ 4.9</span>
                          </span>
                          <span class="review_num ng-binding" ng-show="restaurant.review_count > 0">
                            리뷰 634
                          </span>
                          <span class="review_num ng-binding" ng-show="restaurant.owner_reply_count > 0">
                            사장님댓글 539
                          </span>

                        </div>

                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="col-sm-6 " ng-repeat="restaurant in list">
            <div class="item clearfix" ng-click="select_restaurant(restaurant, $index)" style="cursor: pointer;">
              <table>
                <tbody>
                  <tr>
                    <td>
                      <div ng-show="restaurant|restaurant_is_available" class="logo"
                        ng-style="{'background-image':'url(' + get_logo_url(restaurant.logo_url) + '), url(\'image/default_restaurant_logo.png\')'}"
                        style="background-image: url(&quot;https://rev-static.yogiyo.co.kr/franchise_logos/파리바게뜨_20180712_Franchise이미지약정서_crop_200x200_s6Zm07l.jpg&quot;), url(&quot;image/default_restaurant_logo.png&quot;);">
                      </div>
                    </td>
                    <td>
                      <div class="restaurants-info">
                        <div class="restaurant-name ng-binding" ng-bind="restaurant.name" title="파리바게뜨-향남상신점">파리바게뜨
                        </div>
                        <div class="stars">
                          <span>
                            <span class="ico-star1 ng-binding" ng-show="restaurant.review_avg > 0">★ 4.9</span>
                          </span>
                          <span class="review_num ng-binding" ng-show="restaurant.review_count > 0">
                            리뷰 634
                          </span>
                          <span class="review_num ng-binding" ng-show="restaurant.owner_reply_count > 0">
                            사장님댓글 539
                          </span>

                        </div>

                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="col-sm-6 " ng-repeat="restaurant in list">
            <div class="item clearfix" ng-click="select_restaurant(restaurant, $index)" style="cursor: pointer;">
              <table>
                <tbody>
                  <tr>
                    <td>
                      <div ng-show="restaurant|restaurant_is_available" class="logo"
                        ng-style="{'background-image':'url(' + get_logo_url(restaurant.logo_url) + '), url(\'image/default_restaurant_logo.png\')'}"
                        style="background-image: url(&quot;https://rev-static.yogiyo.co.kr/franchise_logos/파리바게뜨_20180712_Franchise이미지약정서_crop_200x200_s6Zm07l.jpg&quot;), url(&quot;image/default_restaurant_logo.png&quot;);">
                      </div>
                    </td>
                    <td>
                      <div class="restaurants-info">
                        <div class="restaurant-name ng-binding" ng-bind="restaurant.name" title="파리바게뜨-향남상신점">파리바게뜨
                        </div>
                        <div class="stars">
                          <span>
                            <span class="ico-star1 ng-binding" ng-show="restaurant.review_avg > 0">★ 4.9</span>
                          </span>
                          <span class="review_num ng-binding" ng-show="restaurant.review_count > 0">
                            리뷰 634
                          </span>
                          <span class="review_num ng-binding" ng-show="restaurant.owner_reply_count > 0">
                            사장님댓글 539
                          </span>

                        </div>

                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <!-- end ngRepeat: restaurant in list -->
          <div class="col-sm-6 " ng-repeat="restaurant in list">
            <div class="item clearfix" ng-click="select_restaurant(restaurant, $index)" style="cursor: pointer;">
              <table>
                <tbody>
                  <tr>
                    <td>
                      <div ng-show="restaurant|restaurant_is_available" class="logo"
                        ng-style="{'background-image':'url(' + get_logo_url(restaurant.logo_url) + '), url(\'image/default_restaurant_logo.png\')'}"
                        style="background-image: url(&quot;https://rev-static.yogiyo.co.kr/franchise_logos/에그드랍_20211108_Franchise_crop_200x200.jpg&quot;), url(&quot;image/default_restaurant_logo.png&quot;);">
                      </div>
                    </td>
                    <td>
                      <div class="restaurants-info">
                        <div class="restaurant-name ng-binding" ng-bind="restaurant.name" title="에그드랍-향남점">에그드랍</div>
                        <div class="stars">
                          <span>
                            <span class="ico-star1 ng-binding" ng-show="restaurant.review_avg > 0">★ 4.7</span>
                          </span>
                          <span class="review_num ng-binding" ng-show="restaurant.review_count > 0">
                            리뷰 98
                          </span>
                          <span class="review_num ng-binding" ng-show="restaurant.owner_reply_count > 0">
                            사장님댓글 20
                          </span>

                        </div>

                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div><!-- end ngRepeat: restaurant in list -->
        </div>
      </div>
    </div>

  </div>
</body>

</html>